.product-image {
    width: 150px;
    height: 200px;
}

tr > th {
    font-weight: bold;
    background-color: darkgray;
    border: solid;
}

html, body {
    width: 100%;
}

table {
    width: 100%;
}